header.container._header
    section.grid__col.grid__col--1-of-1.grid__col--am
        a.title-head(href="/")
            span.logo
            span.title-name= nickname
        p.decs__head طراح وب سایت | Front-End Developer
        a(href="mailto:#{ email }")
            i.socials.icon-mail
        a(href="http://twitter.com/#{ twitter_username }")
            i.socials.icon-twitter
        a(href="http://instagram.com/#{ instagram_username }")
            i.socials.icon-instagram
        a(href="http://github.com/#{ github_username }")
            i.socials.icon-github